In [ ]:
""" EDA for the visits data """
# %%
import pandas as pd

# %% [markdown]

 ## Load data

In [ ]:
df_visits = pd.read_csv('../backend/data/99-visitas_uriel.csv')
df_business_days = pd.read_csv('../backend/data/resultados_uriel_mazabuel.csv')

# %% [markdown]

 ## visits data

In [ ]:
df_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367379 entries, 0 to 367378
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  367379 non-null  object
 1   point      367379 non-null  object
 2   place      367379 non-null  object
dtypes: object(3)
memory usage: 8.4+ MB

In [ ]:
# %%

df_visits['timestamp'] = pd.to_datetime(df_visits['timestamp']).dt.tz_localize(None)
df_visits[['latitude','longitude']] = df_visits['point'].str.split(',', expand=True).astype(float)
df_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367379 entries, 0 to 367378
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  367379 non-null  datetime64[ns]
 1   point      367379 non-null  object
 2   place      367379 non-null  object
 3   latitude   367379 non-null  float64
 4   longitude  367379 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 14.0+ MB

In [ ]:
# %%

df_visits.head()

,timestamp,point,place,latitude,longitude
0,2014-06-04 22:24:00,"4.753851, -74.1019103","Calle 151, Tibabuyes, UPZs de Bogotá, Localida...",4.753851,-74.101910
1,2014-06-06 07:37:00,"4.7579942, -74.1059858","Carrera 136A, Suba Compartir, UPZs de Bogotá, ...",4.757994,-74.105986
2,2014-06-06 08:42:00,"4.6735214, -74.1452833","Carrera 100, Fontibón, UPZs de Bogotá, Localid...",4.673521,-74.145283
3,2014-06-06 11:36:00,"4.6162576, -74.1061934","Calle 5C, Primavera Occidental, UPZs de Bogotá...",4.616258,-74.106193
4,2014-06-06 11:37:00,"4.613875, -74.104923","Avenida Calle 6, Primavera Occidental, UPZs de...",4.613875,-74.104923

In [ ]:
# %%

df_visits.describe().T

,count,mean,min,25%,50%,75%,max,std
timestamp,367379,2021-02-25 03:11:49.806276352,2014-06-04 22:24:00,2019-03-07 18:32:00,2021-11-11 19:51:00,2023-02-21 12:21:30,2025-01-07 11:33:00,NaN
latitude,367379.0,5.268799,0.799459,4.627612,4.80056,5.521675,22.187282,1.611471
longitude,367379.0,-74.280175,-81.732719,-74.539188,-74.099587,-73.946177,113.554035,0.875201

In [ ]:
# %%

df_types_visits = pd.DataFrame(df_visits.dtypes)
object_features_visits = df_types_visits[df_types_visits[0] == 'object'].index.to_list()
object_features_visits

['point', 'place']

In [ ]:
# %%

float_features_visits = df_types_visits[df_types_visits[0] == 'float64'].index.to_list()
float_features_visits

['latitude', 'longitude']

In [ ]:
# %%

date_features_visits = df_types_visits[df_types_visits[0] == 'datetime64[ns]'].index.to_list()
date_features_visits

['timestamp']

In [ ]:
# %%

df_visits[object_features_visits].describe(include='all').T

,count,unique,top,freq
point,367379,314776,"4.7532264, -74.0988525",326
place,367379,20538,"Autopista Norte, Tocancipá, Sabana Centro, RAP...",16438

# %% [markdown]

 ## business days data

In [ ]:
df_business_days.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fecha      894 non-null    object
 1   inicio     894 non-null    object
 2   fin        894 non-null    object
 3   recorrido  894 non-null    object
dtypes: object(4)
memory usage: 28.1+ KB

In [ ]:
# %%

df_business_days['fecha'] = pd.to_datetime(df_business_days['fecha'])
df_business_days['inicio'] = pd.to_datetime(df_business_days['inicio'])
df_business_days['fin'] = pd.to_datetime(df_business_days['fin'])

In [ ]:
# %%

df_business_days.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fecha      894 non-null    datetime64[ns]
 1   inicio     894 non-null    datetime64[ns]
 2   fin        894 non-null    datetime64[ns]
 3   recorrido  894 non-null    object
dtypes: datetime64[ns](3), object(1)
memory usage: 28.1+ KB

In [ ]:
# %%

df_business_days.head()

       fecha              inicio                 fin        recorrido
0 2014-06-11 2014-06-11 21:16:00 2014-06-11 21:16:00  0 days 00:00:00
1 2014-06-14 2014-06-14 17:36:00 2014-06-14 18:34:00  0 days 00:58:00
2 2014-06-18 2014-06-18 00:51:00 2014-06-18 22:21:00  0 days 21:30:00
3 2014-06-25 2014-06-25 05:34:00 2014-06-25 20:26:00  0 days 14:52:00
4 2014-07-02 2014-07-02 22:35:00 2014-07-02 22:35:00  0 days 00:00:00

In [ ]:
# %%

df_business_days.describe().T

,count,mean,min,25%,50%,75%,max
fecha,894,2019-01-19 15:16:30.604026880,2014-06-11 00:00:00,2016-09-14 06:00:00,2018-07-27 00:00:00,2021-07-14 00:00:00,2024-03-26 00:00:00
inicio,894,2019-01-19 20:58:58.389261824,2014-06-11 21:16:00,2016-09-14 06:06:15,2018-07-27 02:35:30,2021-07-14 02:30:30,2024-03-26 00:43:00
fin,894,2019-01-20 12:24:45.906040320,2014-06-11 21:16:00,2016-09-15 05:21:00,2018-07-27 20:57:30,2021-07-14 23:53:15,2024-03-26 22:57:00

In [ ]:
# %%

df_types_business_days = pd.DataFrame(df_business_days.dtypes)
object_features_business_days = df_types_business_days[df_types_business_days[0] == 'object'].index.to_list()
object_features_business_days

['recorrido']

In [ ]:
# %%

df_business_days[object_features_business_days].describe(include='all').T

          count unique              top freq
recorrido   894    596  0 days 00:00:00   16

# %% [markdown]

 ## Merge visits with business days

In [ ]:
df_visits_business_days = df_visits.merge(df_business_days, how='right', left_on='timestamp', right_on='inicio')

In [ ]:
# %%

df_visits_business_days

,timestamp,point,place,latitude,longitude,fecha,inicio,fin,recorrido
0,2014-06-11 21:16:00,"4.7538459, -74.1018654","Calle 151, Tibabuyes, UPZs de Bogotá, Localida...",4.753846,-74.101865,2014-06-11,2014-06-11 21:16:00,2014-06-11 21:16:00,0 days 00:00:00
1,2014-06-14 17:36:00,"4.7528523, -74.0988562","Calle 151, Tibabuyes, UPZs de Bogotá, Localida...",4.752852,-74.098856,2014-06-14,2014-06-14 17:36:00,2014-06-14 18:34:00,0 days 00:58:00
2,2014-06-18 00:51:00,"4.7538915, -74.1018722","Calle 151, Tibabuyes, UPZs de Bogotá, Localida...",4.753891,-74.101872,2014-06-18,2014-06-18 00:51:00,2014-06-18 22:21:00,0 days 21:30:00
3,2014-06-25 05:34:00,"4.7539288, -74.1025566","Carrera 115, Almendros, UPZs de Bogotá, Locali...",4.753929,-74.102557,2014-06-25,2014-06-25 05:34:00,2014-06-25 20:26:00,0 days 14:52:00
4,2014-07-02 22:35:00,"4.7539656, -74.1018835","Calle 151, Tibabuyes, UPZs de Bogotá, Localida...",4.753966,-74.101883,2014-07-02,2014-07-02 22:35:00,2014-07-02 22:35:00,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...
1000,2024-03-14 10:28:00,"4.7541006, -74.1027117","Calle 150C, Almendros, UPZs de Bogotá, Localid...",4.754101,-74.102712,2024-03-14,2024-03-14 10:28:00,2024-03-14 23:46:00,0 days 13:18:00
1001,2024-03-17 11:35:00,"6.0162505, -75.1580961","Autopista Medellín - Bogotá, La Piñuela, Cocor...",6.016250,-75.158096,2024-03-17,2024-03-17 11:35:00,2024-03-17 19:43:00,0 days 08:08:00
1002,2024-03-20 10:20:00,"7.1610454, -73.1373577","Madrid, Comuna 1 - Norte, Perímetro Urbano Buc...",7.161045,-73.137358,2024-03-20,2024-03-20 10:20:00,2024-03-20 18:35:00,0 days 08:15:00
1003,2024-03-23 00:57:00,"4.9498285, -73.9469491","Autopista Norte, Tocancipá, Sabana Centro, RAP...",4.949828,-73.946949,2024-03-23,2024-03-23 00:57:00,2024-03-23 15:00:00,0 days 14:03:00
1004,2024-03-26 00:43:00,"4.7037785, -74.0540271","Avenida Carrera 45, UPZs de Bogotá, Localidad ...",4.703779,-74.054027,2024-03-26,2024-03-26 00:43:00,2024-03-26 22:57:00,0 days 22:14:00

# %% [markdown]

 ## visits with business days data

In [ ]:
df_visits_business_days.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  1005 non-null   datetime64[ns]
 1   point      1005 non-null   object
 2   place      1005 non-null   object
 3   latitude   1005 non-null   float64
 4   longitude  1005 non-null   float64
 5   fecha      1005 non-null   datetime64[ns]
 6   inicio     1005 non-null   datetime64[ns]
 7   fin        1005 non-null   datetime64[ns]
 8   recorrido  1005 non-null   object
dtypes: datetime64[ns](4), float64(2), object(3)
memory usage: 70.8+ KB

In [ ]:
# %%

df_visits_business_days.describe().T

,count,mean,min,25%,50%,75%,max,std
timestamp,1005,2019-01-13 11:01:39.820895488,2014-06-11 21:16:00,2016-10-08 05:54:00,2018-07-24 00:00:00,2021-07-17 00:02:00,2024-03-26 00:43:00,NaN
latitude,1005.0,5.198143,2.707344,4.753512,4.753939,4.947056,11.249607,1.489088
longitude,1005.0,-74.146434,-76.541805,-74.103257,-74.101899,-74.050668,-72.470483,0.476413
fecha,1005,2019-01-13 05:22:23.283582208,2014-06-11 00:00:00,2016-10-08 00:00:00,2018-07-24 00:00:00,2021-07-17 00:00:00,2024-03-26 00:00:00,NaN
inicio,1005,2019-01-13 11:01:39.820895488,2014-06-11 21:16:00,2016-10-08 05:54:00,2018-07-24 00:00:00,2021-07-17 00:02:00,2024-03-26 00:43:00,NaN
fin,1005,2019-01-14 02:32:35.761193984,2014-06-11 21:16:00,2016-10-08 21:48:00,2018-07-24 23:59:00,2021-07-17 18:40:00,2024-03-26 22:57:00,NaN

In [ ]:
# %%

df_types_visits_business_days = pd.DataFrame(df_visits_business_days.dtypes)
object_features_visits_business_days = df_types_visits_business_days[df_types_visits_business_days[0] == 'object'].index.to_list()
object_features_visits_business_days

['point', 'place', 'recorrido']

In [ ]:
# %%

float_features_visits_business_days = df_types_visits_business_days[df_types_visits_business_days[0] == 'float64'].index.to_list()
float_features_visits_business_days

['latitude', 'longitude']

In [ ]:
# %%

date_features_visits_business_days = df_types_visits_business_days[df_types_visits_business_days[0] == 'datetime64[ns]'].index.to_list()
date_features_visits_business_days

['timestamp', 'fecha', 'inicio', 'fin']

In [ ]:
# %%

df_visits_business_days[object_features_visits_business_days].describe(include='all').T

          count unique                                                top freq
point      1005    843                             4.7538511, -74.0988525   23
place      1005    312  Calle 151, Tibabuyes, UPZs de Bogotá, Localida...  165
recorrido  1005    596                                    0 days 00:00:00   16

# %% [markdown]

 ## Save data

In [ ]:
df_visits_business_days.to_csv('../backend/data/visitas_business_days.csv', index=False)