In [ ]:
""" EDA for the visits data """
# %%
import pandas as pd
from datetime import date

# %% [markdown]

 ## Load data

In [ ]:
df_visits = pd.read_csv('../backend/data/99-visitas_uriel.csv')
df_business_days = pd.read_csv('../backend/data/resultados_uriel_mazabuel.csv')

# %% [markdown]

 ## visits data

In [ ]:
df_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367379 entries, 0 to 367378
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  367379 non-null  object
 1   point      367379 non-null  object
 2   place      367379 non-null  object
dtypes: object(3)
memory usage: 8.4+ MB

In [ ]:
# %%

df_visits['timestamp'] = pd.to_datetime(df_visits['timestamp']).dt.tz_localize(None)
df_visits['date'] = pd.to_datetime(df_visits['timestamp']).dt.date
df_visits[['latitude','longitude']] = df_visits['point'].str.split(',', expand=True).astype(float)
df_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367379 entries, 0 to 367378
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  367379 non-null  datetime64[ns]
 1   point      367379 non-null  object
 2   place      367379 non-null  object
 3   date       367379 non-null  object
 4   latitude   367379 non-null  float64
 5   longitude  367379 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 16.8+ MB

In [ ]:
# %%

df_visits.head()

,timestamp,point,place,date,latitude,longitude
0,2014-06-04 22:24:00,"4.753851, -74.1019103","Calle 151, Tibabuyes, UPZs de Bogotá, Localida...",2014-06-04,4.753851,-74.101910
1,2014-06-06 07:37:00,"4.7579942, -74.1059858","Carrera 136A, Suba Compartir, UPZs de Bogotá, ...",2014-06-06,4.757994,-74.105986
2,2014-06-06 08:42:00,"4.6735214, -74.1452833","Carrera 100, Fontibón, UPZs de Bogotá, Localid...",2014-06-06,4.673521,-74.145283
3,2014-06-06 11:36:00,"4.6162576, -74.1061934","Calle 5C, Primavera Occidental, UPZs de Bogotá...",2014-06-06,4.616258,-74.106193
4,2014-06-06 11:37:00,"4.613875, -74.104923","Avenida Calle 6, Primavera Occidental, UPZs de...",2014-06-06,4.613875,-74.104923

In [ ]:
# %%

df_visits.describe().T

,count,mean,min,25%,50%,75%,max,std
timestamp,367379,2021-02-25 03:11:49.806276352,2014-06-04 22:24:00,2019-03-07 18:32:00,2021-11-11 19:51:00,2023-02-21 12:21:30,2025-01-07 11:33:00,NaN
latitude,367379.0,5.268799,0.799459,4.627612,4.80056,5.521675,22.187282,1.611471
longitude,367379.0,-74.280175,-81.732719,-74.539188,-74.099587,-73.946177,113.554035,0.875201

In [ ]:
# %%

df_types_visits = pd.DataFrame(df_visits.dtypes)
object_features_visits = df_types_visits[df_types_visits[0] == 'object'].index.to_list()
object_features_visits

['point', 'place', 'date']

In [ ]:
# %%

float_features_visits = df_types_visits[df_types_visits[0] == 'float64'].index.to_list()
float_features_visits

['latitude', 'longitude']

In [ ]:
# %%

date_features_visits = df_types_visits[df_types_visits[0] == 'datetime64[ns]'].index.to_list()
date_features_visits

['timestamp']

In [ ]:
# %%

df_visits[object_features_visits].describe(include='all').T

,count,unique,top,freq
point,367379,314776,"4.7532264, -74.0988525",326
place,367379,20538,"Autopista Norte, Tocancipá, Sabana Centro, RAP...",16438
date,367379,3408,2021-12-24,763

# %% [markdown]

 ## business days data

In [ ]:
df_business_days.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fecha      894 non-null    object
 1   inicio     894 non-null    object
 2   fin        894 non-null    object
 3   recorrido  894 non-null    object
dtypes: object(4)
memory usage: 28.1+ KB

In [ ]:
# %%

df_business_days['fecha'] = pd.to_datetime(df_business_days['fecha'])
df_business_days['inicio'] = pd.to_datetime(df_business_days['inicio'])
df_business_days['fin'] = pd.to_datetime(df_business_days['fin'])

In [ ]:
# %%

df_business_days.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fecha      894 non-null    datetime64[ns]
 1   inicio     894 non-null    datetime64[ns]
 2   fin        894 non-null    datetime64[ns]
 3   recorrido  894 non-null    object
dtypes: datetime64[ns](3), object(1)
memory usage: 28.1+ KB

In [ ]:
# %%

df_business_days.head()

       fecha              inicio                 fin        recorrido
0 2014-06-11 2014-06-11 21:16:00 2014-06-11 21:16:00  0 days 00:00:00
1 2014-06-14 2014-06-14 17:36:00 2014-06-14 18:34:00  0 days 00:58:00
2 2014-06-18 2014-06-18 00:51:00 2014-06-18 22:21:00  0 days 21:30:00
3 2014-06-25 2014-06-25 05:34:00 2014-06-25 20:26:00  0 days 14:52:00
4 2014-07-02 2014-07-02 22:35:00 2014-07-02 22:35:00  0 days 00:00:00

In [ ]:
# %%

df_business_days.describe().T

,count,mean,min,25%,50%,75%,max
fecha,894,2019-01-19 15:16:30.604026880,2014-06-11 00:00:00,2016-09-14 06:00:00,2018-07-27 00:00:00,2021-07-14 00:00:00,2024-03-26 00:00:00
inicio,894,2019-01-19 20:58:58.389261824,2014-06-11 21:16:00,2016-09-14 06:06:15,2018-07-27 02:35:30,2021-07-14 02:30:30,2024-03-26 00:43:00
fin,894,2019-01-20 12:24:45.906040320,2014-06-11 21:16:00,2016-09-15 05:21:00,2018-07-27 20:57:30,2021-07-14 23:53:15,2024-03-26 22:57:00

In [ ]:
# %%

df_types_business_days = pd.DataFrame(df_business_days.dtypes)
object_features_business_days = df_types_business_days[df_types_business_days[0] == 'object'].index.to_list()
object_features_business_days

['recorrido']

In [ ]:
# %%

df_business_days[object_features_business_days].describe(include='all').T

          count unique              top freq
recorrido   894    596  0 days 00:00:00   16

# %% [markdown]

 ## labeling business days

In [ ]:
df_visits['business_day'] = False
df_business_days['business_day'] = True
df_business_days.index = df_business_days['inicio']
dict_df_business_days = df_business_days.to_dict(orient='index')
df_visits['business_day'].map(dict_df_business_days)

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
367374    NaN
367375    NaN
367376    NaN
367377    NaN
367378    NaN
Name: business_day, Length: 367379, dtype: object

In [ ]:
# %%

df_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367379 entries, 0 to 367378
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   timestamp     367379 non-null  datetime64[ns]
 1   point         367379 non-null  object
 2   place         367379 non-null  object
 3   date          367379 non-null  object
 4   latitude      367379 non-null  float64
 5   longitude     367379 non-null  float64
 6   business_day  367379 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), object(3)
memory usage: 17.2+ MB

In [ ]:
# %%

df_visits.describe().T

,count,mean,min,25%,50%,75%,max,std
timestamp,367379,2021-02-25 03:11:49.806276352,2014-06-04 22:24:00,2019-03-07 18:32:00,2021-11-11 19:51:00,2023-02-21 12:21:30,2025-01-07 11:33:00,NaN
latitude,367379.0,5.268799,0.799459,4.627612,4.80056,5.521675,22.187282,1.611471
longitude,367379.0,-74.280175,-81.732719,-74.539188,-74.099587,-73.946177,113.554035,0.875201

In [ ]:
# %%

df_types_visits = pd.DataFrame(df_visits.dtypes)
object_features_visits = df_types_visits[df_types_visits[0] == 'object'].index.to_list()
object_features_visits

['point', 'place', 'date']

In [ ]:
# %%

float_features_visits = df_types_visits[df_types_visits[0] == 'float64'].index.to_list()
float_features_visits

['latitude', 'longitude']

In [ ]:
# %%

date_features_visits = df_types_visits[df_types_visits[0] == 'datetime64[ns]'].index.to_list()
date_features_visits

['timestamp']

In [ ]:
# %%

bool_features_visits = df_types_visits[df_types_visits[0] == 'bool'].index.to_list()
bool_features_visits

['business_day']

In [ ]:
# %%

df_visits[object_features_visits].describe(include='all').T

,count,unique,top,freq
point,367379,314776,"4.7532264, -74.0988525",326
place,367379,20538,"Autopista Norte, Tocancipá, Sabana Centro, RAP...",16438
date,367379,3408,2021-12-24,763

In [ ]:
# %%

df_visits[bool_features_visits].describe(include='all').T

               count unique    top    freq
business_day  367379      1  False  367379

In [ ]:
# %%

df_visits[df_visits['date'] == date(2023, 12, 24)]

,timestamp,point,place,date,latitude,longitude,business_day
332010,2023-12-24 00:00:00,"5.0200345, -74.4840981","Vía Honda - Villeta, Cune, Villeta, Gualivá, C...",2023-12-24,5.020035,-74.484098,False
332011,2023-12-24 00:02:00,"5.0121546, -74.4787859","Carrera 12, Villeta, Gualivá, Cundinamarca, RA...",2023-12-24,5.012155,-74.478786,False
332012,2023-12-24 00:09:00,"5.0473858, -74.4527103","Variante La Vega - Guaduas, Villeta, Gualivá, ...",2023-12-24,5.047386,-74.452710,False
332013,2023-12-24 00:13:00,"5.0736164, -74.4452634","Transversal Medellin - Bogotá, Nimaima, Gualiv...",2023-12-24,5.073616,-74.445263,False
332014,2023-12-24 00:15:00,"5.0689952, -74.4402888","Transversal Medellin - Bogotá, Nimaima, Gualiv...",2023-12-24,5.068995,-74.440289,False
...,...,...,...,...,...,...,...
332129,2023-12-24 16:29:00,"4.6627675, -74.1331598","Avenida Carrera 86, Ciudad Hayuelos, UPZs Loca...",2023-12-24,4.662768,-74.133160,False
332130,2023-12-24 16:34:00,"4.6463754, -74.1500033","Avenida Carrera 86, Nueva Castilla, UPZs Local...",2023-12-24,4.646375,-74.150003,False
332131,2023-12-24 16:35:00,"4.6437028, -74.152991","Avenida Carrera 86, Nueva Castilla, UPZs de Bo...",2023-12-24,4.643703,-74.152991,False
332132,2023-12-24 16:44:00,"4.6414896, -74.155469","Avenida Carrera 86, Tintalá, UPZs de Bogotá, L...",2023-12-24,4.641490,-74.155469,False
332133,2023-12-24 16:50:00,"4.6412153, -74.1527545","Calle 6C, Jardines de Castilla, UPZs de Bogotá...",2023-12-24,4.641215,-74.152755,False

In [ ]:
# %%

df_visits[df_visits['date'] == date(2023, 12, 24)].place.value_counts()

place
Transversal Medellin - Bogotá, La Vega, Gualivá, RAP (Especial) Central, 253610, Colombia                                                                                              8
Transversal Medellin - Bogotá, San Francisco, Gualivá, RAP (Especial) Central, 253601, Colombia                                                                                        3
Avenida Carrera 45, Nueva Zelandia, UPZs de Bogotá, Localidad Suba, Bogotá, Bogotá Distrito Capital - Municipio, Bogotá, Distrito Capital, RAP (Especial) Central, 111166, Colombia    3
Autopista Norte, Yerbabuena, Hato Grande, Chía, Sopó, Sabana Centro, RAP (Especial) Central, 250008, Colombia                                                                          3
Calle 151, Tibabuyes, UPZs de Bogotá, Localidad Suba, Bogotá, Bogotá Distrito Capital - Municipio, Bogotá, Distrito Capital, RAP (Especial) Central, 111161, Colombia                  3
                                                                                                                                                                                      ..
Vía Cota Chía, La Moya, Cota, Sabana Occidente, RAP (Especial) Central, 250017, Colombia                                                                                               1
Variante Suba - Chía, Pueblo Viejo, Cota, Sabana Occidente, Cundinamarca, RAP (Especial) Central, 250017, Colombia                                                                     1
Variante Siberia - Cota - Chía, Pueblo Viejo, Cota, Sabana Occidente, RAP (Especial) Central, 250017, Colombia                                                                         1
Carrera 5, El Abra, Cota, Sabana Occidente, RAP (Especial) Central, 250017, Colombia                                                                                                   1
Calle 6C, Jardines de Castilla, UPZs de Bogotá, Localidad Kennedy, Bogotá, Bogotá Distrito Capital - Municipio, Bogotá, Distrito Capital, RAP (Especial) Central, 110821, Colombia     1
Name: count, Length: 97, dtype: int64

# %% [markdown]

 ## Save data

In [ ]:
df_visits.to_csv('../backend/data/visitas_business_days.csv', index=False)